.header{
    background-color: turquoise;

}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .row{
      display: flex;
  }
.main{
flex: 70%;
background-color: thistle;
}
.side{
    flex: 30%;
    background-color: wheat;
}