*{
 box-sizing: border-box; 
 overflow: hidden;
}

#maincontanier{
  border-style: dashed;
  background-color: lightgrey;
  width: 50%;
  height: 100%;
  text-align: center;
  margin-left: 25%;
}
.input-group-btn{
  
  vertical-align: top;
  
}


input[type=range]{
  width: 35%;
  display: inline-table;
  
}
.output{
  text-align: center;
}


