*{
    box-sizing: content-box;
}
*{
  box-sizing: border-box;
}
.header{
  background-color: darkturquoise;
}
#maincontanier{
border-style:dashed ;
border-left: none;
}
.emi-amount{
  margin-left: 10px;
}
.emi-amount-outer{
 
}
